.section {
    padding: 30px 0px;
    box-sizing: border-box;

    &__header {
        margin: 10px 0px 25px;

        &-title {
            font-size: 32px;
            font-weight: 500;
        }

        &-subtitle {
            color: #666;
            display: block;
            margin-top: 8px;
        }
    }

    &__content {
        &:before {
            clear: both;
            content: '';
            display: table;
            position: relative;
        }
    }

    &__loader {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 38px;
    }
}