@import 'bootstrap-4-grid';
@import url('https://cdn.slto.ru/fontawesome/css/all.min.css');

@import 'functions';

$screen-md: 768px;

$text-color: #333;
$text-color--muted: #939cb0;

$font-size: 16px;
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$header-height: 60px;

$primary: #0d6efd;

$background-color: #F5F9FF;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

html, body {
    color: $text-color;
    font-size: $font-size;
    font-family: $font-family;
    background-color: $background-color;
}

a {
    color: #333;
    text-decoration: none;
    transition: all .2s ease;
    
    &.active {
        color: $primary;
    }

    &:hover {
        color: shade-color($primary, 30%);
    }
}

.card {
    width: 100%;
    padding: 15px;
    font-size: 15px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,.16), 0 0 1px rgba(0,0,0,.08);
}

@import 'header';
@import 'section';
@import 'weather';
@import 'favorite';
@import 'forecast';
@import 'ui';