.favorite {
    &__list {
        &-item {
            padding: 0;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            overflow: hidden;

            & > * {
                height: 100%;
                padding: 15px;
                display: block;
            }

            &-link {
                flex: 1;
                max-width: calc( 100% - 50px );
            }

            &-name {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &-button {
                font-size: 1.1em;
                transition: all .2s ease;
                color: $text-color--muted;

                &:hover {
                    cursor: pointer;
                    color: $text-color;
                    background-color: rgba(0, 0, 0, 0.06);
                }
            }
        }
    }

    &__button {
        width: 44px;
        height: 44px;
        font-size: 20px;
        background-color: #fff;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
        transition: all .15s ease-out;
        z-index: 2;
        border-radius: 44px;
        color: #777;
        text-align: center;
        line-height: 44px;
        transform: translate(-50%, 50%);
        color: $text-color--muted;
        position: absolute;
        bottom: 0;
        left: 50%;

        &:hover {
            cursor: pointer;
            color: $text-color;
            transform: scale3d(1.1, 1.1, 1) translate(-45%, 45%);
        }

        &:before {
            content: "\f005";
            font-family: "Font Awesome 5 Pro";
        }

        &.active {
            color: $primary;

            &:before {
                font-weight: bold;
            }
        }
    }
}