.forecast {
    &--today, &--tomorrow {
        .section__inner {
            flex-direction: row-reverse;

            &-column {

            }
        }
    }

    &__map {
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 56.5%;

        & > div:first-child {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }

    &__carousel {
        margin: -8px -8px 20px;

        &-item {
            padding: 8px;
            outline: none !important;

            &-inner {
                padding: 15px;
                font-size: 15px;
                background: #fff;
                border-radius: 10px;
                color: $text-color--muted;
                box-shadow: 0 3px 8px rgba(0,0,0,.16), 0 0 1px rgba(0,0,0,.08);
            }

            &-title {
                display: block;
                font-size: 19px;
                margin-bottom: 6px;
                color: $text-color;
            }

            &-date {
                
            }

            &-temp {
                display: flex;
                align-items: flex-end;
                margin-top: 10px;

                span {
                    font-size: 18px; 
                    color: $text-color;
                    font-weight: bold;
                    margin-right: 10px;

                    &.feels {
                        font-size: 15px;
                        color: $text-color--muted;
                    }

                    &:after {
                        content: '°';
                        position: relative;
                    }
                }
            }

            &-desc {
                margin-top: 10px;
                color: $text-color--muted;

                &::first-letter {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    text-transform: uppercase;
                }
            }
        }

        .slick-arrow {
            width: 44px;
            height: 44px;
            font-size: 20px;
            background-color: #fff;
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.15);
            transition: transform .15s ease-out;
            z-index: 2;
            border-radius: 50%;
            color: #777;
            text-align: center;
            line-height: 46px;

            &:before {
                display: none;
            }

            &:hover {
                color: #777;
                background-color: #fff;
                transform: scale3d(1.1,1.1,1) 
                           translateY(-50%);
            }

            &.slick-prev {
                left: 0;
            }

            &.slick-next {
                right: 0;
            }
        }
    }
}