.header {
    background-color: #fff;
    // border-bottom: 1px solid #ccc;

    &__inner {
        height: $header-height;
        display: flex;
        align-items: center;

        @media (max-width: $screen-md) {
            height: auto;
        }
    }

    &__menu {
        flex: 1;
        display: flex;
        margin-left: -10px;

        &-link {
            display: block;
            padding: 10px;
        }

        @media (max-width: $screen-md) {
            justify-content: center;
        }
    }
}