.control {
    width: 100%;
    height: 36px;
    font-size: 16px;
    padding: 0px 12px;
    line-height: 36px;
    border-radius: 6px;
    border: 1px solid #eee;
    background-color: #fff;
    outline: none !important;

    &--dark {
        background-color: #eceef2;
    }
}