.weather {
    position: relative;
    background-color: tint-color($background-color, 50%);

    &__info {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        min-height: 200px;
        color: #aaa;

        @media (max-width: $screen-md) {
            min-height: 120px;
        }

        &-loader {
            font-size: 38px;
        }

        &-temp {
            font-size: 38px;
            font-weight: bold;

            &:after {
                content: ' °C';
            }
        }

        &-location, &-desc {
            margin-top: 8px;
        }
    }

    &__error {
        display: flex;
        align-items: center;
        justify-content: center;
        color: red;
        font-weight: bold;
        font-size: 20px;
    }
}
